body{
    margin: 0;
    padding: 0;
    background: url(../../gambar/kampus.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;

}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, 0.5);
    padding: 20px;
    width: 270px;
    box-shadow: 0 0 10px 5px black;
}

.avatar{
    font-size: 50px;
    background: #bdc3c7;
    width: 50px;
    height: 50px;
    line-height: 80px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.login h1{
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding-top: 10px;
    letter-spacing: 10px;
}

.box-login{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
    padding: 8px 0;
}

.box-login i{
    font-size: 25px;
    color: white;
}

.box-login input{
    width: 70%;
    padding: 0 10px;
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    letter-spacing: 5px;
    color: white;
    cursor: pointer;
}
.box-login input::placeholder{
    color: white;
}

.btn-login{
    width: 100%;
    background: none;
    border: 1px solid white;
    outline: none;
    font-size: 18px;
    letter-spacing: 10px;
    color: white;
}
.btn-login:hover{
    background-color:rgb(59, 186, 236) ;
    color: black;
}
.a{
    color: white;
}